:root {
    /* основные цвета */
    --bg-color: #F9FAF7;
    --secondary-color: #FFFFFF;
    --main-color-text: #253017;
    --accent-color: #ABD27A;
    --accent-color-dark: #508826;
    --color-alarm: #E0796E;
    --color-error: #BF3920;

    /* вторичные цвета */
    --color-green: #69735D;
    --color-green-light: #DEEBC5;
    --color-green-lightest: #B2B9A9;
    --color-gray-light: #9CA197;
    --color-gray-lightest: #E4E8DF;
    --color-black: #000000;

    /* цвета для тегов (категорий) */
    --color-tag-business: #EEE7F7;
    --color-tag-creative: #F7E7F2;
    --color-tag-language: #EBE5C5;
    --color-tag-education: #E7F2F6;
    --color-tag-household: #F7EBE5;
    --color-tag-health: #E9F7E7;
    --color-tag-another: #E8ECF7;
}
