.popover {
  position: absolute;
  z-index: 555;
  min-height: 150px;
  background-color: var(--secondary-color);
  border: 1px solid var(--tertiary-color-dark);
  border-radius: var(--main-border-radius);
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.3s, transform 0.3s;
  cursor: auto;
}

.entering,
.entered {
  opacity: 1;
  transform: translateY(0);
}

.exiting,
.exited {
  opacity: 0;
  transform: translateY(-20px);
}