.text {
    font-family: inherit;
    font-weight: 400;
    font-style: normal;
}

.size12 {
    font-size: 12px;
    line-height: 16px;
}

.size16 {
    font-size: 16px;
    line-height: 24px;
}

.textMain {
    color: #253017;
}

.textCaption {
    color: #69735D;
}

.textDisabled {
    color: #9CA197;
}

.textLink {
    color: #508826;
}

.textError {
    color: #BF3920;
}