.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 37px 36px 20px;
  background-color: var(--bg-color);
}

.logo a {
  color: inherit;
  text-decoration: none;
}

.menu {
  display: flex;
  gap: 27px;
  margin-right: 12px;
  margin-left: 11px;
}

.link {
  color: var(--main-color-text);
  font-weight: 400;
  font-size: var(--font-size-main-text);
  font-family: var(--font-family-main);
  line-height: 1.5;
  text-decoration: none;
}

.popoverWrapper {
  position: relative;
  cursor: pointer;
}

.popoverButton {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.themeToggleButton {
  background-color: transparent;
  color: var(--main-color-text);
  border: none;
  cursor: pointer;
}

.accountBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;

  & .authButtons {
    display: flex;
    gap: 8px;
    width: 308px;
  }

  .userBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;

    & .userInfo {
      display: flex;
      align-items: center;
      gap: 9px;
      max-width: 200px;

      & p {
        flex: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

.start {
  justify-content: flex-start;
  gap: 22px;
}