.section {
  display: flex;
  flex-direction: column;
  gap: 32px;

  &__alignTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__wrapperBtn {
    display: flex;
  justify-content: end;
  }
}

.iconBtn {

}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, 324px);
  gap: 24px;
  width: 100%;
}