.registrationPage {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  width: 1136px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  width: 556px;
  height: 100%;
  padding: 40px 60px;
  background-color: var(--secondary-color);
}