.infinite__grid {
  display: flex;
  flex-direction: column;
  gap: 36px;

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    gap: 24px;
    width: 100%;
  }
}