.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 36px;
  color: var(--main-color-text);
  font-family: var(--font-family-main);
  background-color: var(--bg-color);
  scroll-behavior: smooth;

  > :first-child,
  > :last-child {
    margin: 0;
  }
}
