.title {
    color: #253017;
    font-weight: 500;
    font-style: normal;
}

.size16 {
    font-size: 16px;
    line-height: 24px;
}

.size20 {
    font-size: 20px;
    line-height: 24px;
}

.size24 {
    font-size: 24px;
    line-height: 32px;
}

.size32 {
    font-size: 32px;
    line-height: 40px;
}

.left {
	text-align: left;
}

.center {
	text-align: center;
}