.container {
  position: relative;
  display: flex;
  gap: 24px;
  max-width: 1440px;
  min-height: 232px;
  padding: 32px 36px;
  background-color: var(--secondary-color);
}

.container::before {
  content: '';
  display: block;
  position: absolute;
  top:0;
  left: 50%;
  z-index: 1;
  inline-size: 120vw;
  block-size: 100%;
  background-color: inherit;
  transform: translateX(-50%);
}

.container > div {
  position: relative;
  z-index: 2;
}

.copyright {
  color: var(--tertiary-color-dark);
  font-weight: 400;
  font-size: var(--font-size-details);
  font-family: var(--font-family-main);
  line-height: 1.3;
}

.block {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}

.logo {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.link {
  color: var(--main-color-text);
  font-weight: 400;
  font-size: var(--font-size-main-text);
  font-family: var(--font-family-main);
  line-height: 1.5;
  text-decoration: none;
}