.main {
  display: flex;
  gap: 24px;
  height: 100%;
  width: 100%;
}

.filterPanel {
  width: 324px;
  color: var(--main-color-text);
}

.cardsContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  overflow-y: scroll;
}